node_modules
/webclient/node_modules
/webclient/build
/webclient/.pnp
/webclient/.pnp.js
/data_analysis/.ipynb_checkpoints/

# testing
/webclient/coverage

# production
/webclient/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
